@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400&display=swap');

$activeColor: #0e86d4;
$primaryColor: #2c3e50;
$secondaryColor: rgb(238, 236, 236);

$fontMenu : "Bebas Neue";
$fontText : 'Titillium Web';  // 200- 300- 400 fw